@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

//Fonts
webfont('V', 'V', true, 'normal')
webfont('VE', 'VE', true, 'normal')

// Media queries
$xl = 1439px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px

// CSS Reset
global-reset()
//@import '_helpers.styl'

::selection
	//background $accent
	//color $primary
	
::-moz-selection
	//background $accent
	//color $primary

::-webkit-scrollbar
	width 0px
	background transparent

*
	box-sizing()
	//hideselect()

body,html
	width 100%
	height 100%
	background-color $primary
	-webkit-text-size-adjust 100%

html
	font-size 62.5%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'V', 'Helvetica', 'Arial', sans-serif
	font-size 2rem

.row
	span(1)

.bar
	span(1)
	background $primary
	font-size 2rem
	font-family 'V'
	text-transform uppercase
	text-align center
	line-height 1
	padding .5em 0 .2em
	border-top 2px solid
	border-bottom 2px solid

img.lazyimg
	transition(opacity, 200ms)
	opacity 0

img.lazyimg.lazyloaded, img.lazyimg.flickity-lazyloaded
	opacity 1

////////////////////////////////////////////////////// TEXTS

p
	margin-bottom 1em

p:last-child
	margin-bottom 0

.fat
	span(1)
	position relative
	font-family 'VE'
	font-size 12.25vw
	line-height .88em
	text-transform uppercase
	margin-top .1em
	text-align center
	span
		display inline
.fat.border::after
	content ''
	position absolute
	width 100%
	height 2px
	bottom .02em
	left 0
	background $secondary
	pointer-events none

.fat.border:last-of-type::after
	display none

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

a:hover, a.active
	color $accent

////////////////////////////////////////////////////// HEADER

#loader
	position fixed
	transition(all, 180ms)
	width 100%
	height 100%
	top 0
	left 0
	background $primary //url('../../images/loader.gif') center no-repeat
	background-size 15px
	z-index 1000

@keyframes flash {
  from {
    color: $accent
  }
  to {
    color: $secondary
  }
}

@keyframes appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

header
	span(1)
	position absolute
	top 0	
	left 0
	font-family 'VE'
	font-size 12.25vw
	line-height .85em
	text-align center
	text-transform uppercase
	z-index 200
	background $primary
	nav#menu
		span(1)
		overflow hidden
		ul
			width 100%
			li
				display none
				position relative
				max-height .8em
			li#site-title
				display block
			li
				background $primary
				margin-top 0.08em
			li::after
				content ''
				position absolute
				width 100%
				height 2px
				bottom 0
				left 0
				background $secondary
				pointer-events none
	nav#menu:hover
		li
			display block
	nav#menu:hover ~ #page-title, nav#menu:hover ~ #ticker
		display none
	#page-title
		span(1)
		width 100vw
		font-size 10vw
		line-height 0
		//margin -.2em 0 -.35em
		span
			display inline
			line-height 1
	#ticker
		overflow hidden
		text-align left
		#ticker-inner
			display inline-block
			white-space nowrap
			transform(translate3d(0,0,0))
		.banner_text
			display inline-block
			margin-right .5em
		.banner_text.flash
			color $accent
			vendor(animation-name, flash)
			vendor(animation-duration, 1s)
			vendor(animation-fill-mode, forwards)

header.fixed
	position fixed

header.hide
	pointer-events none
	nav#menu
		ul
			li
				display none
				pointer-events none
			li#site-title
				display block

////////////////////////////////////////////////////// GENERAL

#container
	span(1)
	//transition(opacity, 150ms)
	opacity 1
	margin-top 13vw
	#image-hover
		display none
		position absolute
		top 0
		left 0
		width 300px
		transition(margin-left, 170ms)
		margin-left 0px
		pointer-events none
		border 2px solid
		z-index 50
		+below($md)
			display none
			visibility hidden

////////////////////////////////////////////////////// GRID

#container
	.content-grid
		margin-bottom 3.4rem
		overflow hidden
		span(1)
		flexbox()
		flex-wrap wrap
		align-items strech
		a
			display block
			border-bottom 2px solid $secondary
			transition(background-color, 400ms)
			background-color transparent
		img
			display block
			width 100%
			height auto
			transition(all, 400ms)
			+below($md)
				border none
		.column
			span(1/4)
			margin-top -2px
			border-style solid
			border-width 0px 2px 0px 2px
			position relative
		.column::before
			content ''
			position absolute
			width 800%
			height 2px
			top 0
			left 0
			background $secondary
		for num in 1..8
			.col{num}
				span(num/8)
			.off0
				border-right none
		for num in -8..-1
			.off{num}
				margin-left (-1 * num * 12.5%)
		for num in 1..8
			.off{num}
				margin-right (num * 12.5%)
		.column
			+below($md)
				stack()
				border-width 0px 0px 2px 0px
		.column::before
			+below($md)
				display none
		.project
			a.disabled
				background $accent
				cursor default
				img
					mix-blend-mode darken
					vendor(filter, brightness(1.2))
	.categories-grid
		//overflow hidden
		span(1)
		height 100vh
		flexbox()
		align-items center
		justify-content center
		a
			display block
		img
			display block
			width 100%
			height auto
		.category-thumbnail
			span(1/4)
			border-style solid
			border-width 2px 0 2px 0
			position relative
			overflow hidden
			.category-title
				span(1)
				font-size 2rem
				line-height 1
				padding .5em 0 .2em
				border-top 2px solid
				overflow hidden
				text-align center
				text-transform uppercase
		.category-thumbnail::after
			content ''
			position absolute
			height 100vh
			width 2px
			top 0
			right 0
			background $secondary
		.category-thumbnail:first-child::before
			content ''
			position absolute
			height 100vh
			width 2px
			top 0
			left 0
			background $secondary

#categories
	position fixed
	bottom 0
	left 0
	z-index 190
	overflow hidden
	text-align center
	flex-direction row
	align-items center
	justify-content center
	border-bottom none
	.category
		margin 0 .5em

////////////////////////////////////////////////////// SLIDER

.slider-container
	span(1)
	flexbox()
	flex-direction column
	align-items strech
	height 100vh
	#top-bar
		position relative
		border-top none
		#switch
			position absolute
			top 0
			left 0
			height 100%
			padding .5em .5em .2em .5em
			border-right 2px solid
			cursor pointer
		#switch.to-black::after
			content 'B'
		#switch.to-white::after
			content 'W'
		#switch:hover::before
			+above($md + 1)
				content 'Switch to '
				color $accent
		#switch.to-black:hover::after
			+above($md + 1)
				content 'black'
		#switch.to-white:hover::after
			+above($md + 1)
				content 'white'
		// #close
		// 	position absolute
		// 	top 0
		// 	right 0
		// 	height 100%
		// 	padding .5em .5em .2em .5em
		// 	border-left 2px solid
		// 	cursor pointer
		// 	a
		// 		display block
		// #close a::before
		// 	content 'X'
		#close
			position absolute
			top 0
			right 0
			height 100%
			width 40px
			border-left 2px solid
			cursor pointer
			a
				display block
			span 
				display block
				align()
				height 2px
				width 50%
				left 25%
				background $secondary
			span:nth-child(1)
				transform(rotate(45deg))
			span:nth-child(2)
				transform(rotate(-45deg))
	.slider
		span(1)
		height 100%
		overflow hidden
		hideselect()
		.flickity-slider
			transform(none !important)
		.flickity-viewport, .flickity-slider
			height 100%
		.cell
			height 100%
			width 100%
			flexbox()
			align-items center
			justify-content center
			background transparent url('../../images/loader.gif') center no-repeat
			background-size 15px
			.content
				width auto
				height 100%
				margin 0
				padding 0
				+below($md)
					width initial
					height initial
					max-width 100%
					max-height 100%
			img
				width auto
				height 100%
				border-style solid
				border-width 0 2px 0 2px
		.cell
			left 0 !important
			visibility hidden
			opacity 0
			z-index 0
		.cell.is-selected
			opacity 1
			visibility visible
			z-index 10
	#bottom-bar
		border-bottom none

////////////////////////////////////////////////////// CLIENTS

#container
	#artist-clients
		span(1)
		margin-bottom 3.4rem
		display none
		.client
			background $primary
			font-size inherit
			cursor default
			overflow hidden
			text-align left
			margin-top 0
			.inner
				padding-top 0.08em
				display inline-block
				white-space nowrap
				transform(translate3d(0,0,0))
			.banner_text
				display inline-block
				margin-right .5em
		.client:hover
			.banner_text
				color $accent
		.client::after
			content ''
			position absolute
			width 100%
			height 2px
			bottom .08em
			left 0
			z-index 1
			background $secondary
			pointer-events none

////////////////////////////////////////////////////// FOOTER

footer
	display none
	transition(opacity, 150ms)
	opacity 1
	position fixed
	bottom 0
	left 0
	z-index 190
	overflow hidden
	text-align center
	flex-direction row
	align-items center
	justify-content center
	p
		margin 0 .5em

body.footer
	#container
		margin-bottom 3rem
	footer
		flexbox()

////////////////////////////////////////////////////// OVERRIDES

body.hover-left
	#container
		#image-hover
			margin-left -300px
	.slider-container
		.slider
			cursor w-resize

body.hover-right
	.slider-container
		.slider
			cursor e-resize

body.home
	header
		#page-title
			display none
		#ticker
			border-top none
	#container
		margin-bottom 0

body.artist
	header
		nav#menu
			display none
	header:hover
		#page-title, #ticker
			display none
		nav#menu, nav#menu li
			display block

body.artist.category-mode
	header
		border-bottom 2px solid
		#ticker
			display none
	header:hover
		border none
	#container
		margin-top 0 !important

body.project, body.category
	header
		display none
	#container
		margin-top 0 !important

body.portfolio-mode
	.slider-container
		position fixed
		top 0
		left 0
		display none

body.portfolio-mode.slider-mode
	header, #artist-projects, #categories
		display none
	#container
		margin-top 0 !important
	.slider-container
		flexbox()

body.artist.clients-mode
	header
		border-bottom 2px solid
		#ticker
			display none
	header:hover
		border none
	#container
		#artist-projects, .slider-container
			display none
		#artist-clients
			display block
			
body.page
	header
		#page-title
			display none
		#ticker
			border-top none
	#container
		text-align center
		margin-top calc(11.2vw + 3rem)

body[data-id="artists"]
	overflow-x hidden
	header
		#ticker
			opacity 0
			position absolute
	#artists-menu
		position fixed
		z-index 190
		border-top none
		overflow hidden
		text-align center
		.artist-link
			display inline-block
			margin-right .5em

body.page-loaded
	#loader
		opacity 0
		visibility hidden
		pointer-events none

body.leaving
	#loader
		opacity 1
		visibility visible
		pointer-events auto

body.black-mode
	color $primary
	background-color $secondary
	.bar
		background-color $secondary
	.slider-container
		#top-bar
			#close
				span
					background $primary