@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

//Fonts
webfont('V', 'V', true, 'normal')
webfont('VE', 'VE', true, 'normal')

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px

// CSS Reset
global-reset()
//@import '_helpers.styl'

::selection
	background $accent
	color $primary
	
::-moz-selection
	background $accent
	color $primary

::-webkit-scrollbar
	width 0px
	background transparent

*, :before, :after
	box-sizing(border-box)
	//hideselect()

body,html
	width 100%
	height 100%
	background-color $primary
	-webkit-text-size-adjust 100%

html
	font-size 62.5%
	+above($xl)
		font-size 75%
	+below($lg)
		font-size 50%
	+below($md)
		font-size 40%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'V', 'Helvetica', 'Arial', sans-serif
	font-size 2rem

.row
	span(1)

.bar
	span(1)
	background $primary
	font-size 2rem
	font-family 'V'
	text-transform uppercase
	text-align center
	line-height 1
	padding .5em 0 .2em
	border-top 2px solid
	border-bottom 2px solid
	+above($xl)
		border-top 4px solid
		border-bottom 4px solid

img.lazyimg
	transition(opacity, 200ms)
	opacity 0

img.lazyimg.lazyloaded, img.lazyimg.flickity-lazyloaded
	opacity 1

video
	width 100%
	height 100%
	display block

////////////////////////////////////////////////////// TEXTS

p
	margin-bottom 1em

p:last-child
	margin-bottom 0

.fat
	span(1)
	position relative
	font-family 'VE'
	font-size 12.25vw
	line-height .88em
	text-transform uppercase
	margin-top .1em
	text-align center
	span
		display inline
.fat.border::after
	content ''
	position absolute
	width 100%
	height 2px
	bottom .02em
	left 0
	background $secondary
	pointer-events none
	+above($xl)
		height 4px

.fat.border:last-of-type::after
	display none

.lg-only
	+below($md)
		display none

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

a:hover, a.active
	color $accent

////////////////////////////////////////////////////// HEADER

#loader
	hideselect()
	position fixed
	transition(all, 180ms)
	width 100%
	height 100%
	top 0
	left 0
	background $primary //url('../../images/loader.gif') center no-repeat
	background-size 15px
	z-index 1000

@keyframes flash {
  from {
    color: $accent
  }
  to {
    color: $secondary
  }
}

@keyframes appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

header
	span(1)
	position absolute
	top 0	
	left 0
	font-family 'VE'
	font-size 12.25vw
	line-height .85em
	text-align center
	text-transform uppercase
	z-index 200
	background $primary
	hideselect()
	nav#menu
		span(1)
		overflow hidden
		ul
			width 100%
			li
				display none
				position relative
				max-height .8em
			li#site-title
				display block
			li
				background $primary
				margin-top 0.11em
			li::after
				content ''
				position absolute
				width 100%
				height 2px
				bottom 0
				left 0
				background $secondary
				pointer-events none
				+above($xl)
					height 4px
	nav#menu:hover
		li
			display block
	nav#menu:hover ~ #page-title, nav#menu:hover ~ #ticker
		display none
	#page-title
		span(1)
		width 100vw
		font-size 10vw
		line-height 0
		//margin -.2em 0 -.35em
		span
			display inline
			line-height 1
	#ticker
		overflow hidden
		text-align left
		#ticker-inner
			display inline-block
			white-space nowrap
			width 3000px
			transform(translate3d(0,0,0))
		.banner_text
			display inline-block
			margin-right .7em
		.banner_text.flash
			color $accent
			animation-name(flash)
			animation-duration(1s)
			animation-fill-mode(forwards)

header.fixed
	position fixed

header.hide
	pointer-events none
	nav#menu
		ul
			li
				display none
				pointer-events none
			li#site-title
				display block

////////////////////////////////////////////////////// GENERAL

#container
	hideselect()
	span(1)
	//transition(opacity, 150ms)
	opacity 1
	margin-top 13vw
	#image-hover
		display none
		position absolute
		top 0
		left 0
		width 20%
		transition(margin-left, 170ms)
		margin-left 0px
		pointer-events none
		border 2px solid
		z-index 50
		+above($xl)
			border 4px solid
		+below($md)
			display none
			visibility hidden

////////////////////////////////////////////////////// GRID

#container
	.content-grid
		margin-bottom 3.4rem
		overflow hidden
		width 100%
		flexbox()
		flex-flow row wrap
		align-items stretch
		a
			display block
			border-bottom 2px solid $secondary
			transition(background-color, 400ms)
			background-color transparent
			+above($xl)
				border-bottom 4px solid $secondary
			+below($md)
				border none
		img
			display block
			width 100%
			height auto
			transition(all, 400ms)
		.column
			width 25%
			margin-top -2px
			position relative
			border-left 2px solid $secondary
			border-right 2px solid $secondary
			+above($xl)
				border-left 4px solid $secondary
				border-right 4px solid $secondary
		.column, .column::before, .column::after, .project
			transform(translateZ(0))
			backface-visibility hidden
		.column::before
			content ''
			position absolute
			width 800%
			height 2px
			top 0
			left 0
			background $secondary
		for num in 1..8
			.col-{num}
				width (num * 12.5%)
		for num in 1..8
			.off-{num}
				margin-right (num * 12.5%)
		[class*="col-"]:first-child, [class*="col-"] + [class*="col-"]
			border-left none
		[class*="off-"] + [class*="col-"]::after
			content ''
			position absolute
			height 500vh
			width 2px
			top 0
			left -2px
			background $secondary
			+above($xl)
				width 4px
		.column
			+below($md)
				stack()
				margin 0
				padding 0
				border none
				border-bottom 2px solid $secondary
				box-shadow(none)
				+above($xl)
					border-bottom 4px solid $secondary
		.column::before
			+below($md)
				display none
		.project.video
			img
				display none
				+below($md)
					display block
			video
				display block
				+below($md)
					display none
		.project
			a.disabled
				background $accent
				cursor default
				img
					mix-blend-mode darken
					vendor(filter, brightness(1.2))
	.categories-grid
		//overflow hidden
		span(1)
		height 100vh
		flexbox()
		align-items center
		justify-content center
		+below($md)
			display block
		a
			display block
		img
			display block
			width 100%
			height auto
		.category-thumbnail
			span(1/4)
			border-style solid
			border-width 2px 0 2px 0
			position relative
			overflow hidden
			+above($xl)
				border-width 4px 0 4px 0
			+below($md)
				span(1/2)
				border-width 0 0 2px 0
			.category-title
				span(1)
				font-size 2rem
				line-height 1
				padding .5em 0 .2em
				border-top 2px solid
				overflow hidden
				text-align center
				text-transform uppercase
				+above($xl)
					border-top 4px solid
		.category-thumbnail::after
			content ''
			position absolute
			height 100vh
			width 2px
			top 0
			right 0
			background $secondary
			+above($xl)
				width 4px
			+below($md)
				display none
		.category-thumbnail:nth-child(odd)::after
			+below($md)
				display block
				height 300vh
		.category-thumbnail:first-child::before
			content ''
			position absolute
			height 100vh
			width 2px
			top 0
			left 0
			background $secondary
			+above($xl)
				width 4px
			+below($md)
				display none

#categories
	position fixed
	bottom 0
	left 0
	z-index 190
	overflow hidden
	text-align center
	flex-direction row
	align-items center
	justify-content center
	border-bottom none
	.category
		margin 0 .5em

////////////////////////////////////////////////////// SLIDER

.slider-container
	span(1)
	flexbox()
	flex-direction column
	align-items stretch
	height 100vh
	#top-bar
		position relative
		border-top none
		#switch
			position absolute
			top 0
			left 0
			height 100%
			padding .5em .5em .2em .5em
			border-right 2px solid
			cursor pointer
			+above($xl)
				border-right 4px solid
		#switch.to-black::after
			content 'B'
		#switch.to-white::after
			content 'W'
		#switch:hover::before
			+above($md + 1)
				content 'Switch to '
				color $accent
		#switch.to-black:hover::after
			+above($md + 1)
				content 'black'
		#switch.to-white:hover::after
			+above($md + 1)
				content 'white'
		// #close
		// 	position absolute
		// 	top 0
		// 	right 0
		// 	height 100%
		// 	padding .5em .5em .2em .5em
		// 	border-left 2px solid
		// 	cursor pointer
		// 	a
		// 		display block
		// #close a::before
		// 	content 'X'
		#close
			position absolute
			top 0
			right 0
			height 100%
			width 40px
			border-left 2px solid
			cursor pointer
			+above($xl)
				border-left 4px solid
			+below($md)
				width 30px
			a
				display block
			span 
				display block
				align()
				height 2px
				width 50%
				left 25%
				background $secondary
			span:nth-child(1)
				transform(rotate(45deg))
			span:nth-child(2)
				transform(rotate(-45deg))
	.video
		span(1)
		overflow hidden
		height calc(100% - 7rem)
		flexbox()
		align-items center
		justify-content center
		.cell
			width 100%
			border 2px solid
			+above($xl)
				border 4px solid
	.slider
		span(1)
		height calc(100vh - 7rem)
		overflow hidden
		hideselect()
		+below($md)
			height calc(100% - 6rem)
		.flickity-slider
			transform(none !important)
		.flickity-viewport, .flickity-slider
			height 100%
		.cell
			height 100%
			width 100%
			flexbox()
			align-items center
			justify-content center
			background transparent url('../../images/loader.gif') center no-repeat
			background-size 15px
			.content
				width auto
				height 100%
				margin 0
				padding 0
				+below($md)
					width initial
					height initial
					max-width 100%
					max-height 100%
			img
				width auto
				height 100%
				border-style solid
				border-width 0 2px 0 2px
				+above($xl)
					border-width 0 4px 0 4px
				+below($md)
					border none
		.cell
			left 0 !important
			visibility hidden
			opacity 0
			z-index 0
		.cell.is-selected
			opacity 1
			visibility visible
			z-index 10
	#bottom-bar
		border-bottom none

////////////////////////////////////////////////////// CLIENTS

#container
	#artist-clients
		span(1)
		padding-bottom 3.4rem
		display none
		.client
			background $primary
			font-size inherit
			cursor default
			overflow hidden
			text-align left
			margin-top -.08em
			.inner
				padding-top 0.08em
				display inline-block
				white-space nowrap
				transform(translate3d(0,0,0))
			.banner_text
				display inline-block
				margin-right .5em
		.client:first-child
			margin-top 0
		.client:last-of-type
			margin-bottom -.08em
		.client:hover
			.banner_text
				color $accent
		.client::after
			content ''
			position absolute
			width 100%
			height 2px
			bottom .08em
			left 0
			z-index 1
			background $secondary
			pointer-events none
		.client:last-child::after
			display none

////////////////////////////////////////////////////// FOOTER

footer.bar
	display none
	transition(opacity, 150ms)
	opacity 1
	position fixed
	bottom 0
	left 0
	z-index 190
	overflow hidden
	text-align center
	flex-direction row
	align-items center
	justify-content center
	+below($md)
		position initial
		padding 0
	p
		margin 0 .5em
		+below($md)
			border-bottom 2px solid
			margin 0
			padding .5em 0 .2em

body.footer
	#container
		+above($md + 1)
			padding-bottom 3rem
	footer
		flexbox()
		border-bottom 0
		+below($md)
			display block

////////////////////////////////////////////////////// OVERRIDES

body.hover-left
	#container
		#image-hover
			margin-left -20%
	.slider-container
		.slider
			cursor w-resize

body.hover-right
	.slider-container
		.slider
			cursor e-resize

body.home
	header
		#page-title
			display none
		#ticker
			border-top none
	#container
		padding-bottom 0
		.content-grid
			margin-bottom 0

body.artist
	header
		nav#menu
			display none
	header:hover
		#page-title, #ticker
			display none
		nav#menu, nav#menu li
			display block

body.artist.category-mode
	header
		border-bottom 2px solid
		+above($xl)
			border-bottom 4px solid
		#ticker
			display none
	header:hover
		border none
	#container
		+above($md + 1)
			margin-top 0 !important

body.project, body.category
	header
		display none
	#container
		margin-top 0 !important

body.portfolio-mode
	.slider-container
		position fixed
		top 0
		left 0
		display none

body.portfolio-mode.slider-mode
	header, #artist-projects, #categories
		display none
	#container
		margin-top 0 !important
	.slider-container
		flexbox()

body.artist.clients-mode
	overflow-x hidden
	header
		border-bottom 2px solid
		+above($xl)
			border-bottom 4px solid
		#ticker
			display none
	header:hover
		border none
	#container
		#artist-projects, .slider-container
			display none
		#artist-clients
			display block
			
body.page
	header
		#page-title
			display none
		#ticker
			border-top none
	#container
		text-align center
		margin-top calc(11.2vw + 3rem)

body[data-id="artists"]
	overflow-x hidden
	header
		#ticker
			opacity 0
			position absolute
	#container
		+below($md)
			margin-top 11.2vw !important
	#artists-menu
		position fixed
		z-index 190
		border-top none
		overflow hidden
		text-align center
		+below($md)
			height 0
			display none
		.artist-link
			display inline-block
			margin-right .5em

body.page-loaded
	#loader
		opacity 0
		visibility hidden
		pointer-events none

body.leaving
	#loader
		opacity 1
		visibility visible
		pointer-events auto

body.black-mode
	color $primary
	background-color $secondary
	.bar
		background-color $secondary
	.slider-container
		#top-bar
			#close
				span
					background $primary