@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

//Fonts
webfont('VE', 'VE', true, 'normal')

// Media queries
$xl = 1439px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px

// CSS Reset
global-reset()
//@import '_helpers.styl'

::selection
	//background $accent
	//color $primary
	
::-moz-selection
	//background $accent
	//color $primary

*
	box-sizing()
	//hideselect()

body,html
	width 100%
	height 100%
	background-color $primary
	-webkit-text-size-adjust 100%

html
	font-size 62.5%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'Helvetica'
	font-size 2rem

p
	margin-bottom 1em

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

a:hover, a.active
	color $accent

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary url('../../images/loader.gif') center no-repeat
	background-size 15px
	z-index 10000

header
	span(1)
	position absolute
	top 0	
	left 0
	font-family 'VE'
	font-size 12.25vw
	line-height .85em
	text-align center
	text-transform uppercase
	z-index 200
	background $primary
	nav#menu
		span(1)
		ul
			width 100%
			li
				display none
				position relative
				max-height .8em
			li#site-title
				display block
				margin-top 0.08em
			li
				background $primary
				margin-top 0.08em
			li::after
				content ''
				position absolute
				width 100%
				height 2px
				bottom 0
				left 0
				background $secondary
				pointer-events none
	nav#menu:hover
		li
			display block
	nav#menu:hover ~ #ticker
		display none
	#ticker
		span(1)
		font-size initial
		line-height 1
		padding .5em 0 .3em
		border-bottom 2px solid $secondary

header.fixed
	position fixed

#container
	span(1)
	margin-top 13vw